$blue: #007a8b;

body {
    background: whitesmoke;
}

#search {
    margin-top: 10%;
}

.info {
    text-align: center;
    span {
        display: block;
        font-size: 1.2em;
        color: $blue;
        &:first-child {
            font-size: 5em;
        }
    }
    div {
        background: white;
        border: solid 1px lightgray;
        border-radius: 8px;
        margin: 32px;
        padding: 64px;
        &:first-child {
            margin-left: 8%;
        }
    }    
}
#weather-info {
    font-size: 2em;
    color: $blue;
}